<h5>Library</h5>
<ul>
    <li>
        <a href="#" data-count="112">
            <ion-icon name="heart-outline"></ion-icon>
            <span>Favourites</span>
        </a>
    </li>
    <li>
        <a href="#" data-count="28">
            <ion-icon name="musical-notes-outline"></ion-icon>
            <span>Playlists</span>
        </a>
    </li>
    <li>
        <a href="#">
            <ion-icon name="albums-outline"></ion-icon>
            <span>Albums</span>
        </a>
    </li>
    <li>
        <a href="#">
            <ion-icon name="people-outline"></ion-icon>
            <span>Artists</span>
        </a>
    </li>
</ul>