<div class="headers mt-5 d-flex justify-content-center">
  <div class="headers-content">
    <h3 id="genres-header-1">Pick a genre</h3>
  </div>
</div>
<div class="tags ">
    <%= render partial:'deviseusers/partials/genre', collection:genres, as: :genre%>
</div>
