<li>
    <div class="info-left">
        <span class="count">01</span>
        <img src="https://upload.wikimedia.org/wikipedia/en/2/2b/Dua_Lipa_-_Don%27t_Start_Now.png" width="36" height="36" alt="" class="poster">
        <a href="#" class="track-name">Don't Start Now</a>
    </div>
    <div class="info-right">
        <a href="#" class="artist">Dua Lipa</a>
        <div class="detail">
            <span class="duration">3:03</span>
            <ion-icon name="play-sharp"></ion-icon>
        </div>
    </div>
</li>