<div class='container'>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>



    <% Devise.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", deviseuser_spotify_omniauth_authorize_path %><br />
    <% end %>
</div>
