<h5>Browse Media</h5>
<ul>
    <li class="current">
        <a href="#">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="#">
            <ion-icon name="flame-outline"></ion-icon>
            <span>Top Charts</span>
        </a>
    </li>
    <li>
        <a href="#">
            <ion-icon name="compass-outline"></ion-icon>
            <span>Feed</span>
        </a>
    </li>
    <li>
        <a href="#">
            <ion-icon name="radio-outline"></ion-icon>
            <span>Radio</span>
        </a>
    </li>
    <li>
        <a href="#">
            <ion-icon name="videocam-outline"></ion-icon>
            <span>Video</span>
        </a>
    </li>
</ul>