<div class="currently-playing">
    <div class="track-control">
        <div class="control-buttons">
            <ion-icon name="play-skip-back-outline"></ion-icon>
            <ion-icon class="pause" name="play-outline"></ion-icon>
            <ion-icon name="play-skip-forward-outline"></ion-icon>
        </div>
        <div class="progress" style="--past: 79%">
            <div class="past"></div>
            <span></span>
        </div>
        <ion-icon name="ellipsis-horizontal"></ion-icon>
        <ion-icon name="heart-outline"></ion-icon>
    </div>
</div>